// Theme
$theme-colors: (
  'background-color': #ffffff,
  'surface-color': rgba(19,19,19,.6),
  'primary-color': #000000,
  'secondary-color': #898989FF,
  'accent-color': #b88e2f,
  'success-color': '',
  'error-color': '',
);

// Colors
$black-color-palette: (
  'black': #000,
  'black-5': #3a3a3a
);

$white-color-palette: (
  'white': #fff,
  'white-5': #f4f5f7
);

$gray-color-palette: (
  'gray-2': #898989,
  'gray-3': #4d4d4d,
);
